.spotlight-root {
  width: 100%;
}

.spotlight-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 2%;
  margin-bottom: 6%;
  text-align: center;
}

.spotlight-slider-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.spotlight-slider-track {
  display: flex;
  width: 100%;
  transition: transform 2.2s ease;
}

.spotlight-slide {
  min-width: 100%;
  display: flex;
  gap: 70px;
  padding: 3% 10%;
  background: #EDF7FF;
}

.slide-left {
  width: 40%;
}

.slide-image {
  width: 100%;
  height: 270px;
  border-radius: 16px;
  object-fit: cover;
}

.slide-right {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.slide-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slide-title {
  font-size: 22px;
  font-weight: 700;
}

.share-btn {
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.meta {
  margin-top: 14px;
}

.meta-row {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 6px 0;
}

.meta-icon {
  font-size: 18px;
}

.starts-in {
  margin-top: 18px;
  font-weight: 600;
}

.countdown-row {
  display: flex;
  gap: 14px;
  margin: 14px 0;
}

.count-pill {
  width: 83px;
  height: 70px;
  text-align: center;
  padding: 10px 0;
  border-radius: 50%;
  border: 2px solid;
}

#days {
  background-color: #DCA0FF;
  border: 2px solid #830DC8;
}

#hours {
  background-color: #D1F8DB;
  border: 2px solid #0B822A;
}

#mins {
  background-color: #F5DBA2;
  border: 2px solid #F2B634;
}

#sec {
  background-color: #6CB4F9;
  border: 2px solid #0052A2;
}


.count-num {
  font-size: 22px;
  font-weight: bold;
}

.count-label {
  font-size: 12px;
  color: #444;
}

.btn-get {
  width: 160px;
  padding: 10px;
  background: #7F00FF;
  color: white;
  border-radius: 25px;
  border: none;
  margin-top: 18px;
}

.spotlight-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 18px;
}

.arrow {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: none;
  background: #CCE8FF;
  font-size: 20px;
  cursor: pointer;
}

.dots {
  display: flex;
  gap: 10px;
}

.dot {
  width: 13px;
  height: 7px;
  border-radius: 10px;
  background: #ccc;
  border: none;
}

.dot.active {
  background: #8D8989;
}