.authContainer {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg, #fbfaff, #f9f6ff);
}

.authLeft {
    flex: 2.5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.authLeft img {
    width: 100%;
    max-width: 657px;
}

.authRight {
    flex: 1;
    padding: 0px 9% 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
