.wrapper {
  padding: 20px 25px;
  background-color: #f9f9f9;
  border-radius: 0px 0px 20px 20px;
}
.leftFilter , .rightFilter{
  display: flex;
  gap: 20px;
  align-items: center;
}

.heading {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 18px;
}

.topFilters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.leftFilter label,
.rightFilter label {
  font-size: 14px;
  color: #444;
}

.selectBox {
  width: 150px;
  padding: 10px 14px;
  border-radius: 12px;
  border: 1px solid #ddd;
  font-size: 15px;
  margin-top: 5px;
  background: #fff;
}

.chartCard {
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
}

.filterRow {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  align-items: center;
  margin-bottom: 15px;
}

.rangeBtn {
  padding: 9px 18px;
  border-radius: 10px;
  background: #f2f2f2;
  border: none;
  cursor: pointer;
}

.activeBtn {
  background: #eeebff;
  color: #7a12ff;
  font-weight: 600;
}

.calIcon {
  font-size: 23px;
}

.chartWrapper {
  width: 100%;
  height: 300px;
  
}
