.header_wrapper {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  background: #f9f9f9;
}

.cover {
  width: 100%;
  height: 140px;
  border-radius: 20px 20px 0 0;
  position: relative;
}

.role_badge {
  position: absolute;
  right: 20px;
  top: 20px;
  background: #ffffff;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 7px;
  font-weight: 600;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
}

.role_dot {
  width: 14px;
  height: 14px;
  background: #7a12ff;
  border-radius: 50%;
}

.content {
  display: flex;
  gap: 15px;
  align-items: flex-start;
  position: relative;
  padding-bottom: 25px;
}

.profile_img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin-top: -46px;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.name {
  font-size: 22px;
  font-weight: 700;
}

.role_small {
  font-size: 14px;
  font-weight: 500;
  color: #777;
}

.follow_info {
  display: flex;
  gap: 15px;
  font-weight: 600;
  color: #7a12ff;
}

.rank {
  font-size: 14px;
  color: #555;
  font-weight: 500;
}

.reviews {
  text-align: center;
}

.review_text {
  font-size: 14px;
  font-weight: 500;
  color: #555;
}

.edit_icon {
  position: absolute;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}

.edit_icon img {
  width: 22px;
}
