.role-page {
    display: flex;
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, #faf7ff, #ffffff);
}
.role-left {
    flex: 1.0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.role-character {
    width: 80%;
    max-width: 480px;
}

/* RIGHT SIDE */
.role-right {
    flex: 1;
    padding-top: 40px;
}

.role-title1 {
    font-size: 32px;
    font-weight: 700;
}

.role-title1 span {
    color: #7B39FF;
}

.role-subtitle {
    margin-bottom: 40px;
    color: #666;
    font-size: 14px;
}

/* BUTTON GRID */
.role-buttons {
    width: 420px;
    display: flex;
    flex-direction: column;
    gap: 34px;
}

/* PERFECT ZIG-ZAG ALIGNMENT */
.row1 { margin-left: 0px; }
.row2 { margin-left: 65%; }
.row3 { margin-left: 0px; }
.row4 { margin-left: 65%; }

/* RESPONSIVE */
@media(max-width: 1024px) {
    .role-page {
        flex-direction: column;
        text-align: center;
    }

    .role-right {
        padding: 20px;
    }

    .role-buttons {
        margin: 0 auto;
        width: 300px;
    }

    .row1, .row2, .row3, .row4 {
        margin-left: 0 !important;
    }
}
