.loginLinks {
    display: flex;
    justify-content: space-between;
    margin-top: -8px;
    margin-bottom: 10px;
}

.login-title {
    color: #1C1C1C;
    font-family: "BL Melody";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}

.login-para {
    color: #3D3D3D;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    margin-bottom: 88px;
}

.forgotLink {
    background: none;
    border: none;
    color: #7f2bff;
    cursor: pointer;
    font-weight: 600;
}

.errorText {
    color: crimson;
    margin: 10px 0;
    font-size: 14px;
}

.signupRoute {
    color:  #3D3D3D;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    margin-top: 25px;
}

.signupLink {
    background: none;
    border: none;
    color: #7f2bff;
    font-weight: 600;
    cursor: pointer;
}

.form-line {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-top: 30px;
}

.form-line .line {
    width: 30px;
    background-color: rgb(66, 65, 65);
    height: 1px;
}