.codeBoxes {
    display: flex;
    gap: 12px;
    margin: 20px 0;
}

.codeBox {
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    background: #fff;
}

.errorText {
    color: crimson;
    margin-top: 8px;
}

.primaryBtn {
    width: 100%;
    padding: 14px;
    border-radius: 30px;
    background: #7f2bff;
    border: none;
    color: white;
    margin-top: 15px;
}
