.errorText {
    color: crimson;
    margin-top: 8px;
    font-size: 14px;
}

.successText {
    color: green;
    margin-top: 8px;
    font-size: 14px;
}

.errorText {
    color: crimson;
    margin-top: 8px;
}

.primaryBtn {
    width: 100%;
    padding: 14px;
    border-radius: 30px;
    background: #7f2bff;
    border: none;
    color: white;
    margin-top: 15px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

.successContainer {
    text-align: left;
}

.successContainer h1 {
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: 700;
    text-align: center;
}

.successContainer p {
    color: #888;
    margin-bottom: 20px;
    text-align: center;
}

.primaryBtn {
    padding: 14px;
    width: 100%;
    background: #7f2bff;
    color: white;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

.fp-title {
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    text-align: center;
}

.fp-sub {
    font-size: 14px;
    font-weight: 600;
    color: #363636;
    margin-bottom: 30px;
    line-height: 22px;
    text-align: center;
    margin-top: 30px;
}

.codeBoxes {
    display: flex;
    gap: 14px;
    justify-content:center;
    margin: 30px 0;
}

.codeBox {
    width: 50px;
    height: 50px;
    border: 1px solid #dedede;
    border-radius: 10px;
    font-size: 22px;
    text-align: center;
}

.successContainer {
    text-align: left;
}

.successContainer h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}

.successContainer p {
    color: #777;
    margin-bottom: 20px;
}

.errorText {
    color: crimson;
    margin: 8px 0;
}

.successText {
    color: green;
    margin: 8px 0;
}

.primaryBtn {
    width: 100%;
    padding: 14px;
    background: #7f2bff;
    color: #fff;
    border-radius: 30px;
    font-size: 18px;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}

.pageIndicator {
    margin-top: 20%;
    display: flex;
    gap: 14px;
    justify-content: center;
}

.pageIndicator span {
    width: 25px;
    height: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-fill-mode: -1px;
    border: 1px solid #aaa;
    border-radius: 50%;
}

.pageIndicator .active {
    background: #7f2bff;
    border-color: #7f2bff;
    color: #fff;
}

.passwordWrapper {
  position: relative;
  width: 100%;
}

.eyeIcon {
  position: absolute;
  right: 18px;
  top: 40px;
  cursor: pointer;
  font-size: 20px;
  color: #666;
}

.eyeIcon:hover {
  color: #000;
}
