.primaryBtn {
    width: 100%;
    padding: 14px;
    border: none;
    background: #7f2bff;
    color: #fff;
    border-radius: 30px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

.backBtn {
    margin-top: 10px;
    background: transparent;
    border: 1px solid #ddd;
    padding: 12px;
    border-radius: 25px;
}

.errorMsg {
    color: crimson;
    margin-top: 8px;
    font-size: 14px;
}

.password-wrapper {
  position: relative;
  width: 100%;
}

.eye-icon {
  position: absolute;
  right: 18px;
  top: 40px;
  font-size: 18px;
  cursor: pointer;
  color: #666;
}
