/* ---------- FOOTER MAIN ---------- */
.footer {
  color: white;
  width: 100%;
  margin-top: 60px;
  padding-top: 0;
}

/* TOP IMAGE */
.footer-top-image img {
  width: 100%;
  object-fit: cover;
  margin-bottom: -4px;
}

/* MAIN CONTENT */
.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 60px 8%;
  flex-wrap: wrap;
}

/* LEFT SECTION */
.footer-left {
  max-width: 250px;
}

.footer-logo {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 6px;
}

.footer-tagline {
  color: #ccc;
  font-size: 12px;
  margin-bottom: 18px;
}

.footer-socials {
  display: flex;
  gap: 16px;
  margin-bottom: 25px;
}

.footer-socials i {
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.footer-socials i:hover {
  opacity: 0.7;
}

.footer-copy {
  font-size: 12px;
  color: #ccc;
}

/* FOOTER COLUMNS */
.footer-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 150px;
}

.footer-col h3 {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 8px;
}

.footer-col a {
  color: #dddddd;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.footer-col a:hover {
  color: white;
}

/* EMAIL */
.footer-email {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 10px;
}

.email-icon {
  background: #1f55ff;
  color: white;
  padding: 6px 10px;
  border-radius: 50%;
  font-size: 18px;
}

/* ---------- BOTTOM LINKS ---------- */
.footer--section {
  background-color: black;
  margin-top: -12px;
}
.footer-bottom {
  border-top: 1px solid #333;
  padding: 20px 8%;
  text-align: right;
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.footer-bottom a {
  color: #ccc;
  font-size: 12px;
  cursor: pointer;
}

.footer-bottom a:hover {
  color: white;
}

/* ---------- RESPONSIVE ---------- */
@media (max-width: 900px) {
  .footer-content {
    flex-direction: column;
    gap: 40px;
    text-align: left;
  }

  .footer-bottom {
    justify-content: center;
    text-align: center;
  }
}
