.wrapper {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 0px 0px 20px 20px;
}

.confirmBox {
  background: #f5f5f5;
  padding-bottom: 20px;
  border-radius: 20px;
  text-align: center;
}

.icon {
  width: 140px;
  margin-bottom: 15px;
}

.confirmBox h2 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 8px;
}

.confirmBox p {
  color: #777;
  margin-bottom: 30px;
}

.btnRow {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.cancelBtn {
  background: #fff;
  border: 1px solid #000;
  padding: 10px 25px;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
}

.deleteBtn {
  background: #7a12ff;
  border: none;
  color: #fff;
  padding: 10px 25px;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
}

.successBox {
  background: #f5f5f5;
  padding: 60px;
  border-radius: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

@media (max-width: 600px) {

  .confirmBox {
    padding: 25px;
  }

  .icon {
    width: 110px;
  }

  .btnRow {
    flex-direction: column;
  }

  .cancelBtn,
  .deleteBtn {
    width: 100%;
  }

  .successBox {
    padding: 40px;
  }
}
