.wrapper {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 0px 0px 20px 20px;
}

.title {
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: 700;
}
.editIcon {
  width: 22px;
  height: 20px;
  cursor: pointer;
}

.viewBox {
  background: #f5f5f5;
  border-radius: 18px;
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  position: relative;
}

.item {
  display: flex;
  gap: 12px;
  align-items: start;
}

.icon {
  font-size: 26px;
  color: #0077b5;
}

.item h4 {
  font-size: 16px;
  font-weight: 700;
}

.item p {
  font-size: 14px;
  color: #555;
}

.editBtn {
  position: absolute;
  right: 20px;
  bottom: 20px;
  border-radius: 25px;
  background: #7a12ff;
  color: #fff;
  border: none;
  padding: 10px 25px;
  font-weight: 600;
  cursor: pointer;
}

.editBox {
  background: #f5f5f5;
  border-radius: 18px;
  padding: 25px;
}

.uploadBox {
  border: 2px dashed #cfcfcf;
  border-radius: 16px;
  padding: 30px;
  text-align: center;
  color: #777;
  margin-bottom: 30px;
  cursor: pointer;
  position: relative;
  height: 180px;
}

.previewImg {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: cover;
}


.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.grid label {
  font-size: 14px;
  font-weight: 600;
}

.grid input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 6px;
}

.btnRow {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.cancelBtn {
  background: #fff;
  border: 1px solid #000;
  padding: 10px 25px;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
}

.saveBtn {
  background: #7a12ff;
  border: none;
  color: #fff;
  padding: 10px 25px;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
}

.successBox {
  background: #f5f5f5;
  border-radius: 18px;
  padding: 60px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

@media (max-width: 900px) {
  .viewBox,
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .viewBox,
  .grid {
    grid-template-columns: 1fr;
  }

  .editBtn {
    position: relative;
    margin-top: 20px;
  }
}
