.wrapper {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 0px 0px 20px 20px;
}

.heading {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

.tabs {
  display: flex;
  gap: 25px;
  margin: 10px 0 20px;
}

.tab {
  font-size: 16px;
  color: #444;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  padding-bottom: 6px;
}

.activeTab {
  color: #8a00ff;
  font-weight: 600;
}

.activeTab::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60%;
  height: 3px;
  background: #8a00ff;
  border-radius: 3px;
}

.box {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 14px;
  padding: 10px 0;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 14px 20px;
  border-bottom: 1px solid #e8e8e8;
}

.row:last-child {
  border-bottom: none;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  font-size: 16px;
  font-weight: 500;
}

.unfollowBtn {
  background: #8a00ff;
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

@media (max-width: 600px) {
  .row {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .unfollowBtn {
    align-self: flex-end;
  }
}
