.dash-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.sidebar {
  width: 80px;

  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  transition: width 0.3s ease;
  overflow: hidden;
}

.side_nav_img {
  width: 24px;
  height: 24px;
}

.sidebar.expanded {
  width: 250px;
  align-items: flex-start;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  padding: 12px 15px;
  border-radius: 14px;
  cursor: pointer;
  width: 100%;
  transition: 0.3s;
  background: #f3f3f3;
}
.side_nav_content {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}
.active-menu {
  background: #e9d6ff !important;
  color: #7a12ff;
}

.active-menu .title {
  color: #7a12ff !important;
  font-weight: 700;
}

.active-menu img {
  filter: brightness(0) saturate(100%) invert(26%) sepia(94%) saturate(6000%)
  hue-rotate(260deg) brightness(100%) contrast(90%);
}
/* SUB NAV BASE STYLE */
.sub-link {
  padding: 10px 55px;
  border-radius: 4px;
  background: #f5f5f5;
  color: #333;
  text-decoration: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  position: relative;
  transition: 0.3s;
}

/* HOVER EFFECT */
.sub-link:hover {
  background: #eee6ff;
  color: #7a12ff;
}

/* ACTIVE RADIO HIGHLIGHT */
.sub-active {
  color: #7a12ff !important;
}

/* RADIO DOT */
.sub-active::before {
  content: "";
  width: 9px;
  height: 9px;
  background: #7a12ff;
  border-radius: 50%;
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.menu-item:hover {
  background: #eee6ff;
  color: #7a12ff;
  justify-content: flex-start;
}

.arrow-icon {
  font-size: 14px;
  color: #555;
  transition: 0.3s;
}

.menu-item:hover .arrow-icon {
  color: #7a12ff;
}

.menu-item .icon {
  font-size: 24px;
  color: #555;
}

.menu-item:hover .icon {
  color: #7a12ff;
}

.title {
  font-size: 16px;
  color: #555;
}

.dropdown {
  
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
}

.dropdown a {
  padding:10px 55px;
  border-radius: 3px;
  color: #333;
  background: #f5f5f5;
  text-decoration: none;
  transition: 0.3s;
  font-weight: 600;
}

.dropdown a:hover {
  background: #eee6ff;
  color: #7a12ff;
}

.right-content {
  flex: 1;
  padding: 2% 3% 0% 3%;
}
.page-wrapper {
  /* margin-top: 20px; */
}
