.dash-container {
  display: flex;
  width: 100%;
  height: 100vh;
}
.sidebar {
  width: 80px;
  background: #F3F3F3;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  box-shadow: 2px 0px 10px rgba(0,0,0,0.08);
}

.side-icon {
  font-size: 26px;
  padding: 14px;
  border-radius: 14px;
  color: #555;
  transition: 0.3s;
}

.side-icon:hover {
  background: #eee6ff;
  color: #7a12ff;
}

.side-icon.active {
  background: #e9d6ff;
  color: #7a12ff;
}

.right-content {
  flex: 1;
  /* background: #fafafa; */
  padding:2% 3% 0% 3%;
}
