.successContainer {
    text-align: left;
}

.successContainer h1 {
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: 700;
}

.successContainer p {
    color: #888;
    margin-bottom: 20px;
}

.primaryBtn {
    padding: 14px;
    width: 100%;
    background: #7f2bff;
    color: white;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}