.inputBoxContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
}

.inputBoxContainer label {
    color: #1C1C1C;
    font-family: "BL Melody";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 9px;
}

.inputBoxContainer input {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
    outline: none;
}

.inputBoxContainer input:focus {
    border-color: #7f2bff;
}