.role-btn {
    width: 315px;
    height: 70px;
    flex-shrink: 0;
    border-radius: 50px;
    border: none;
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 34px;
    cursor: pointer;
    justify-content: flex-start;
}

.role-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.18);
}

.role-icon-circle {
    width: 81px;
    height: 81px;
    border-radius: 50%;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.16);
}

/* .role-icon-circle svg {
    width: 26px;
    height: 26px;
} */

/* Text */
.role-text {
    font-size: 18px;
    font-weight: 700;
    color: #000;
}

/* Responsive */
@media (max-width: 600px) {
    .role-btn {
        width: 95%;
        height: 80px;
    }

    .role-icon-circle {
        width: 50px;
        height: 50px;
    }

    .role-icon-circle svg {
        width: 22px;
        height: 22px;
    }

    .role-text {
        font-size: 16px;
    }
}