/* FULL PAGE WRAPPER */
.wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  border-radius: 0px 0px 20px 20px;
}

/* BACKGROUND GRADIENT */
.bgGradient {
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 20% 20%, #e7e9ff, transparent),
              radial-gradient(circle at 80% 80%, #fdeaff, transparent);
  position: absolute;
  inset: 0;
  z-index: -1;
}

/* CENTER CONTENT */
.centerBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* 404 NUMBER */
.numberWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.num {
  font-size: 150px;
  font-weight: 700;
  color: #7a12ff;
  line-height: 1;
}
.img{
    width: 350px;
}
/* ZERO WITH IMAGE */

/* TEXT */
.title {
  font-size: 28px;
  margin-top: 10px;
  font-weight: 600;
}

.error {
  font-size: 42px;
  font-weight: 800;
  margin-top: 5px;
  letter-spacing: 3px;
}

.desc {
  color: #777;
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.6;
}

/* BUTTON */
.backBtn {
  margin-top: 25px;
  padding: 12px 40px;
  border: none;
  border-radius: 28px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: #7a12ff;
  cursor: pointer;
  transition: 0.3s;
}

.backBtn:hover {
  background: #5c0fd6;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .num {
    font-size: 110px;
  }

  .zero {
    width: 110px;
    height: 110px;
  }

  .icon {
    width: 80px;
  }

  .error {
    font-size: 30px;
  }

  .title {
    font-size: 22px;
  }
}

@media (max-width: 480px) {
  .num {
    font-size: 85px;
  }

  .zero {
    width: 85px;
    height: 85px;
  }

  .icon {
    width: 65px;
  }

  .desc {
    font-size: 14px;
  }

  .backBtn {
    width: 90%;
  }
}
